<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Quote</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>New Post</h1>
    <div class="new">
      <form method="post" action="/posts">
        <input
          placeholder="Enter username"
          type="text"
          name="username"
        /><br /><br />
        <textarea name="content" placeholder="Write your quote"></textarea
        ><br />
        <button>Submit Post</button>
      </form>
    </div>
  </body>
</html>
