<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Post Details</h1>
    <h3 class="show">ID : <%= post.id %></h3>
    <h3 class="show">Username : @<%= post.username %></h3>
    <h3 class="show">Content :</h3>
    <p class="show"><%= post.content %></p>
  </body>
</html>
